<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html class="no-js" lang="pl">

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>rejestracja</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/logo-pl.svg" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Zamknij</span></a>

            <div class="header-nav__content">

                <h3>Menu</h3>

                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll" href="#home" title="home">Start</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">Co robimy</a></li>
                    <li><a class="smoothscroll" href="#services" title="services">Wolontariat</a></li>
                    <li><a class="smoothscroll" href="#works" title="works">Galeria</a></li>
                    <li><a class="smoothscroll" href="#thanks" title="works">Podziękowania</a></li>
                    <li><a class="smoothscroll" href="#clients" title="clients">Partnerzy</a></li>
                    <li><a class="smoothscroll" href="#contact" title="contact">Kontakt</a></li>
                </ul>

                <ul class="header-nav__social">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">

            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->




    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>

        <div class="row section-header">
            <div class="col-full">
                <h3 class="subhead"></h3>
                <h1 class="display-2">Rejestracja dziecka</h1>
            </div>
        </div>

        <div class="row contact-content">

            <div class="contact-primary">

                <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                    <fieldset>

                        <div class="form-field">
                            <input name="name" type="text" id="name" placeholder="Imię" value="" aria-required="true"
                                required class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="age" type="text" id="age" placeholder="Wiek" value="" aria-required="true"
                                required class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="city" type="text" id="city" placeholder="Miasto" value="" aria-required="true"
                                required class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="district" type="text" id="district" placeholder="Dzielnica" value=""
                                aria-required="true" required class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="phoneNumber" type="text" id="phoneNumber" placeholder="Telefon kontaktowy" value=""
                                aria-required="true" required class="full-width">
                        </div>

                        <div class="form-field">
                            <button class="full-width btn--primary">Dalej</button>
                            <div class="submit-loader">
                                <div class="text-loader"></div>
                                <div class="s-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>


                <!-- contact-warning -->
                <div class="message-warning">
                    Coś poszło nie tak, spróbuj jeszcze raz.
                </div>

                <!-- contact-success -->
                <div class="message-success">
                    Wiadomość została wysłana, dziękujemy!
                </div>

            </div> <!-- end contact-primary -->



        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>

        <div class="row footer-main">

            <div class="col-six tab-full left footer-desc">

                <div class="footer-logo"></div>

            </div>

            <div class="col-six tab-full right footer-subscribe">

                <h4 style="letter-spacing: 3px;">INFORMATYCZNY PROJEKT SPOŁECZNY</h4>

            </div>

        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Pomogę Bo Mogę 2020</span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"
                            aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->





    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script>

    </script>

</body>

</html>